boto3
ipykernel
fastapi
jupyter
loguru
matplotlib
mlflow
numpy
pandas
polars
pyarrow
python-dotenv
psycopg2
pydantic
pydantic-settings
scikit-learn
seaborn
statsmodels
uvicorn
xgboost
pytest
pytest-asyncio
httpx